@import url('global.css');
@import url('normalize.css');

/* Hero */
.bg__noticias {
    background-image: url("../assets/images/fondo-news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}
.bg__title {
    text-transform: uppercase;
    color: var(--platinum);
    font-size: 3rem;
}
@media (min-width: 768px) {
    .bg__title {
        font-size: 4.8rem;
    }
}.bg__content {
    color: var(--platinum);
    margin: 1rem;
    text-align: center;
}
/* Principal */
.shadow__cards--bg {
    background-color: var(--white);
}
/* .noticias {
    display: grid;
    gap: 2rem;
    padding: 1rem;
}
@media (min-width: 768px) {
    .noticias {
        grid-template-columns: 30rem auto 30rem;
    }
} */
 /* Sección de noticias (Articles, elemento estático, Tips) */
.noticias {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}
.featured-news {
  display: contents;
}
.noticias__articulos {
  flex: 1;
  max-width: 30rem;
  order: 0;
}
.noticias__informacion {
  flex: 1;
  max-width: 40rem;
  order: 1;
}
.noticias__consejos {
  flex: 1;
  max-width: 30rem;
  order: 2;
}
@media (max-width: 768px) {
  .noticias {
      flex-direction: column;
      align-items: center;
  }
  .noticias__articulos,
  .noticias__informacion,
  .noticias__consejos {
      max-width: 100%;
      width: 100%;
  }
}
.artips__title {
    text-align: justify;
}
.artips__title:hover,
.noticias__title:hover {
    color: var(--eggplant);
}
.noticias__span,
.noticias__li {
    display: inline-block;
    font-weight: bold;
}

/* Articulos */
.articulos__parrafo {
    text-align: justify;
    margin: 1rem;
}
.articulos__button {
    background-color: var(--zomp);
    padding: 1rem;
    color: var(--platinum);
    margin: 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: bold;
}
/* Consejos */
.consejos {
    display: grid;
    gap: 2rem;
}
.consejos__experto {
    font-weight: bold;
}
@media (min-width: 768px) {
    .consejos {
        grid-template-columns: repeat(2, 1fr);
    }
    .consejos__content {
        grid-column: 2/3;
    }
}
.consejos__title {
    text-align: start;
}
/* Carousel Temas */
.carousel-inner {
    display: flex;
    flex-wrap: nowrap; 
  }
  .carousel-item {
    flex: 0 0 auto; 
    width: 100%; 
  }
  .card {
    margin: 1rem; 
  }
  @media (min-width: 768px) {
    .carousel-item .row {
      display: flex;
      justify-content: center;
    }
  }
/* Modal Noticias */
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7rem;
    z-index: 1000;
  }
  .modal__content {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
    max-width: 800px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: var(--fuenteParrafo);
    line-height: 1.6;
    border: 1px solid var(--platinum);
    max-height: 80vh;
    display: flex;
    flex-direction: column;
  }
  .modal__close {
    position: absolute;
    top: 2rem;
    right: 5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--black);
  }
  .modal__close:hover {
    color: var(--emerald);
    transition: color 0.3s;
  }
  .modal__header {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .modal__title {
    font-family: var(--fuenteHeading);
    font-size: 2.8rem;
    color: var(--black);
    margin-bottom: 0.5rem;
  }
  .modal__meta {
    font-size: 1.4rem;
    color: var(--eggplant);
  }
  .modal__meta i {
    margin-right: 0.5rem;
  }
  .modal__subtitle {
    font-size: 1.6rem;
    color: var(--black);
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .modal__image {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
  }
  .modal__text {
    font-size: 1.4rem;
    color: var(--black);
  }
  .modal__text p {
    margin-bottom: 1.5rem;
  }  
  .modal__content--scroll {
    overflow-y: auto; /* Habilita el scroll vertical solo en esta sección */
    max-height: 80vh; /* Limita la altura del área de texto para que aparezca el scroll */
    padding-right: 1rem; /* Espacio para el scrollbar */
  }
  @media (max-width: 768px) {
    .modal__content {
      width: 90%;
      padding: 1.5rem;
    }
    .modal__title {
      font-size: 2.4rem;
    }
    .modal__subtitle {
      font-size: 1.4rem;
    }
    .modal__image {
      max-height: 200px;
      object-fit: cover;
    }
    .modal__overlay {
        padding-top: 3rem; /* Ajuste para pantallas pequeñas */
    }
    .modal__content--scroll {
        max-height: 40vh; /* Ajuste para pantallas pequeñas */
    }
  }